{% extends "base.html" %}

{% block title %}
View Job Details
{% endblock %}

{% block body %}
<div class="text-center py-5">
    <h2 class="mb-4">View Job Details</h2>
    {% if message %}
      <div class="alert alert-success text-center" role="alert">
        {{ message }}
      </div>
    {% endif %}
    <!-- <p class="lead mb-4">xxx</p> -->
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 text-start">
            <h3>{{ job.job_title }}</h3>
            <p>{{ job.job_description }}</p>
            <p>{{ job.job_location }}</p>
            <p>{{ job.job_experience_level }}</p>
        </div>
    </div>
    <p>&nbsp;</p>

    <div class="text-center">
        <a href="/candidates/jobs/{{ job.job_id }}/apply" class="btn btn-primary px-5">Apply</a>
    </div>
</div>
{% endblock %}